body {
    font-family: sans-serif;
    background: white;
}


blockquote.body {
    padding: 6px 0px;
    margin: 0px 0px;
}


div.line, div.lastline {
    position: relative;
}

div.line {
    border-left: 0.1em solid #6185a0;
}

span.lineconn {
    position: absolute;
    height: 0.5em;
    width: 1em;
    border-bottom: 0.1em solid #6185a0;
}

div.lastline > span.lineconn {
    border-left: 0.1em solid #6185a0;
}

span.linebody {
    position: relative;
}

div.line > span.linebody {
    left: 1.1em;
}

div.lastline > span.linebody {
    left: 1.2em;
}


em.storeref
{
    color: #500000;
    position: relative; 
    width: 100%;
}


em.storeref:hover
{
    background-color: #eeeeee;
}


*.popup {
    display: none;
/*    background: url('http://losser.st-lab.cs.uu.nl/~mbravenb/menuback.png') repeat; */
    background: #ffffcd;
    border: solid #555555 1px;
    position: absolute;
    top: 0em;
    left: 0em;
    margin: 0;
    padding: 0;
    z-index: 100;
}


em.storeref:hover span.popup {
    display: inline;
}
