[Unit]
Description=Helper daemon for managing secure, multi-user Nix stores
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/nix-worker --daemon

[Install]
WantedBy=multi-user.target
