Checks:
  - bugprone-*
  - clang-analyzer-*
  - cppcoreguidelines-*
  - modernize-*
  - -modernize-use-trailing-return-type
  - performance-*
  - portability-*
  - readability-*
  - -readability-identifier-length
FormatStyle: file
InheritParentConfig: true
User: connorbaker