#Makefile.config
#perl/Makefile.config

# /
#/aclocal.m4
#/autom4te.cache
#/config.*
#/configure
#/nix.spec
#/stamp-h1
#/svn-revision
#/libtool

# /doc/manual/
#/doc/manual/manual.html
#/doc/manual/manual.xmli
#/doc/manual/manual.pdf
#/doc/manual/manual.is-valid
#/doc/manual/*.1
#/doc/manual/*.5
#/doc/manual/*.8
/doc/manual/version.txt

# /src/libexpr/
/src/libexpr/lexer-tab.cc
/src/libexpr/lexer-tab.hh
/src/libexpr/parser-tab.cc
/src/libexpr/parser-tab.hh
#/src/libexpr/parser-tab.output
#/src/libexpr/nix.tbl

# /src/libstore/
/src/libstore/*.gen.hh


# /tests/
/tests/test-tmp
/tests/common.sh
/tests/dummy
/tests/result*

# /tests/lang/
/tests/lang/*.out
/tests/lang/*.out.xml
/tests/lang/*.ast

# GNU Global
# GPATH
# GRTAGS
# GSYMS
# GTAGS

# Out-of-source builds
/build*/