Makefile.config
perl/Makefile.config

# /
/aclocal.m4
/autom4te.cache
/config.*
/configure
/nix.spec
/stamp-h1
/svn-revision
/build-gcc
/libtool

/corepkgs/config.nix

# /corepkgs/channels/
/corepkgs/channels/unpack.sh

# /corepkgs/nar/
/corepkgs/nar/nar.sh
/corepkgs/nar/unnar.sh

# /doc/manual/
/doc/manual/manual.html
/doc/manual/manual.xmli
/doc/manual/manual.pdf
/doc/manual/manual.is-valid
/doc/manual/*.1
/doc/manual/*.5
/doc/manual/*.8
/doc/manual/version.txt

# /scripts/
/scripts/nix-profile.sh
/scripts/nix-copy-closure
/scripts/nix-reduce-build
/scripts/nix-http-export.cgi
/scripts/nix-profile-daemon.sh

# /src/libexpr/
/src/libexpr/lexer-tab.cc
/src/libexpr/lexer-tab.hh
/src/libexpr/parser-tab.cc
/src/libexpr/parser-tab.hh
/src/libexpr/parser-tab.output
/src/libexpr/nix.tbl

# /src/libstore/
/src/libstore/*.gen.hh

/src/nix/nix

# /src/nix-env/
/src/nix-env/nix-env

# /src/nix-instantiate/
/src/nix-instantiate/nix-instantiate

# /src/nix-store/
/src/nix-store/nix-store

/src/nix-prefetch-url/nix-prefetch-url

# /src/nix-daemon/
/src/nix-daemon/nix-daemon

/src/nix-collect-garbage/nix-collect-garbage

# /src/nix-channel/
/src/nix-channel/nix-channel

# /src/nix-build/
/src/nix-build/nix-build

/src/nix-copy-closure/nix-copy-closure

/src/build-remote/build-remote

# /tests/
/tests/test-tmp
/tests/common.sh
/tests/dummy
/tests/result*
/tests/restricted-innocent
/tests/shell
/tests/shell.drv

# /tests/lang/
/tests/lang/*.out
/tests/lang/*.out.xml
/tests/lang/*.ast

/perl/lib/Nix/Config.pm
/perl/lib/Nix/Store.cc

/misc/systemd/nix-daemon.service
/misc/systemd/nix-daemon.socket
/misc/upstart/nix-daemon.conf

/src/resolve-system-dependencies/resolve-system-dependencies

inst/

*.a
*.o
*.so
*.dylib
*.dll
*.exe
*.dep
*~
*.pc
*.plist

# GNU Global
GPATH
GRTAGS
GSYMS
GTAGS
