:root {
    --sidebar-width: 23em;
}

div.sidebar-scrollbox::before {
  content: "";
  background-image: url("./favicon.svg"), url("./Nix.svg");
  background-position: 0 0, 6em 0;
  background-size: 6em;
  display: block;
  height: 6em;
  width: 12em;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: scroll;
}

h1.menu-title::before {
  content: "";
  background-image: url("./favicon.svg");
  padding: 1.5em;
  background-position: center center;
  background-size: 2.5em;
  background-repeat: no-repeat;
}


h1.menu-title {
  padding: 0.5em;
}

.sidebar .sidebar-scrollbox {
  padding: 1em;
}

h1:not(:first-of-type) {
    margin-top: 1.3em;
}

h2 {
    margin-top: 1em;
}

.hljs-meta {
    user-select: none;
}
